@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto';
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

.hero-body {
    font-size: 18px;
    color: #E5E7EB;
}

#sign-up {
    background-color: #3882F6;
}