@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto';

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content {
}

/* Header styling */

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    
    padding: 0px 200px;
}

.header-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 16px;
}

.header-links-container {
    display: flex;
    gap: 25px;
}

.hero-outer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;

    margin: 100px 0px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-body {
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

.hero-image {
    /* flexbox to contain hero-image */
    display:flex
}

img {
    /* This keeps it from getting distorted, align-self is 'stretch' by default */
    align-self: center;
    max-width: 100%;
}

#sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    font-family: 'Roboto';
    font-weight: 500;

    align-self: flex-start;

    border: none;
    border-radius: 5px;
    padding: 5px 22px;
    margin-top: 10px;
}