@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto';

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Header styling */

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 10px 200px;
}

.header-links-container {
    display: flex;
}

.hero-outer-container {
    display: flex;
}

.hero-container {

}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

.hero-body {
    font-size: 18px;
    color: #E5E7EB;
}

img {
    width: 300px;
    height: 150px;
}

#sign-up {
    background-color: #3882F6;
}